{{- $layout := "2006-01-02T15:04:05-07:00" -}}

{{- $today := now | time.Format $layout -}}

{{- $eventsRaw := .Site.Data.events -}}
{{- $upcoming := slice -}}

{{- range $event := $eventsRaw }}
  {{- $eventTime := time.AsTime $event.dateTime | time.Format $layout -}}
  {{- $endTime := time.AsTime $event.endTime | time.Format $layout -}}

  {{- if ge $eventTime $today -}}
    {{- $upcoming = $upcoming | append (dict
      "title" $event.title
      "description" $event.description
      "dateTime" $eventTime
      "eventUrl" $event.eventUrl
      "where" $event.location
      "end" $endTime
    ) -}}
  {{- end -}}
{{- end }}

{{ if gt (len $upcoming) 0 }}
{{ $next := index (sort $upcoming "dateTime") 0 }}
<section class="container ">
    <dl class="p-0 m-0">
        <dt class="h4 text-center">{{ $next.title }}</dt>
        <dt class="h5 text-center">{{ time.Format ":date_long" $next.dateTime }} {{ time.Format ":time_short"
            $next.dateTime }} to {{ if ne (time.Format "Jan 2" $next.dateTime) (time.Format "Jan 2" $next.end) -}}<br />{{ time.Format "Jan 2" $next.end }} {{ end -}}{{ time.Format ":time_short" $next.end }}</dt>
        </dt>
        {{- $isLink := hasPrefix $next.where "http" -}}
        {{- $icon := cond $isLink "🔗" "📍" -}}
        <dd class="mt-3">
          <em class="pe-1">Where {{ $icon }}:</em>
          {{- if $isLink -}}
            {{- $parsed := urls.Parse $next.where -}}
            <a href="{{ $next.where }}" target="_blank" rel="noopener">{{ $parsed.Host }}</a>
          {{- else -}}
            {{ $next.where }}
          {{- end }}
        </dd>
        
        {{- $description := $next.description | safeHTML -}}

        {{/* Match and extract the event ID from the RSVP section */}}
        {{- $regex := `(?s)(<br\s*/?>)*\s*For full details, including the address, and to RSVP see:(?:.*)(?:<a[^>]*href=")?https://www\.meetup\.com/st-louis-game-developers/events/([0-9]+)/?(?:".*?>.*?</a>)?` -}}

        {{- $matches := findRESubmatch $regex $description -}}

        {{- if gt (len $matches) 0 -}}
          {{- $firstMatch := index $matches 0 -}}          {{/* the inner []string */}}
          {{- $fullMatch := index $firstMatch 0 -}}        {{/* full matched string */}}
          {{- $eventID := index $firstMatch 2 -}}          {{/* captured group with event ID */}}

          {{- $cleanDescription := replace $description $fullMatch "" -}}

          <dd class="">{{ $cleanDescription | safeHTML }}</dd>
          <div class="mt-3 text-center">
            <a href="https://www.meetup.com/st-louis-game-developers/events/{{ $eventID }}" class="btn btn-primary" target="_blank" rel="noopener">
              Details & RSVP
            </a>
          </div>
        {{- else -}}
          <dd class="">{{ $description }}</dd>
        {{- end }}


    </dl>
</section>
{{ else }}
<p class="text-center">No upcoming events</p>
{{ end }}