{{- $layout := "2006-01-02T15:04:05-07:00" -}}
{{- $today := now -}}
{{- $today = ($today | time.In "America/Chicago" | time.Format $layout) -}}

{{- $eventsRaw := .Site.Data.events -}}
{{- $upcoming := slice -}}

{{- range $event := $eventsRaw }}
  {{- $eventTime := time.AsTime $event.dateTime -}}
  {{- $eventTime = ($eventTime | time.In "America/Chicago" | time.Format $layout) -}}

  {{- if ge $eventTime $today -}}
    {{- $upcoming = $upcoming | append (dict
      "title" $event.title
      "description" $event.description
      "dateTime" $eventTime
      "eventUrl" $event.eventUrl
      "where" $event.location
    ) -}}
  {{- end -}}
{{- end }}

{{ if gt (len $upcoming) 0 }}
{{ $next := index (sort $upcoming "dateTime") 0 }}
<section class="container my-4">
    <dl class="p-3 m-0 border rounded">
        <dt class="h4 text-center">{{ $next.title }}</dt>
        <dt class="h5 text-center">{{ time.Format ":date_long" $next.dateTime }} – {{ time.Format ":time_short"
            $next.dateTime }}</dt>
        <dd><em>Where:</em> {{ $next.where }}</dd>
        <dd class="">{{ $next.description | markdownify }}</dd>
        {{ if $next.eventUrl }}
        <dd class="text-center">
            <a href="{{ $next.eventUrl }}" class="btn btn-outline-primary" target="_blank">
                <i class="fa-brands fa-meetup"></i> View Event
            </a>
        </dd>
        {{ end }}
    </dl>
</section>
{{ else }}
<p class="text-center">No upcoming events</p>
{{ end }}