{{ define "header" }}
<div class="row text-center simple-bar rounded m-4 p-3 border d-flex justify-content-evenly">
    <h1 class="font-weight-light text-center">Upcoming Events</h1>
    <p class="lead text-center">This is a list of our upcoming events</p>
</div>
{{ end }}

{{ define "main" -}}

{{ $socialImg := resources.Get "images/events/event-social.png" }}
{{ $demosImg := resources.Get "images/events/event-demos.png" }}
{{ $genericImg := resources.Get "images/events/event-generic.png" }}

<section class="d-flex flex-column">
    {{- $layout := "2006-01-02T15:04:05-07:00" -}}
    {{- $today := now -}}
    {{- $today = ($today | time.Format $layout) -}}
    {{- $today = (time.Format "2006-01-02" $today | time) -}}
    
    {{- $eventsRaw := .Site.Data.events -}}
    {{- $events := slice -}}

    {{- range $eventRaw := $eventsRaw -}}
    {{- $eventTime := time.AsTime $eventRaw.dateTime | time.Format $layout -}}
    {{- $endTime := time.AsTime $eventRaw.endTime | time.Format $layout -}}
    {{- $eventEndDate := (time.Format "2006-01-02" $endTime | time) -}}
    {{- if (gt $eventEndDate $today) -}}
    {{- $events = $events | append (dict
    "name" $eventRaw.title
    "desc" $eventRaw.description
    "when" $eventTime
    "where" $eventRaw.location
    "end" $endTime
    ) -}}
    {{ end }}
    {{ end }}

    {{ if gt (len $events) 0 }}
    {{- $lastDate := "" -}}
    {{- range $event := (sort $events "when" "asc") -}}
    {{- $rawDate := time.AsTime $event.when -}}
    {{- $eventDate := time.Format "January 2006" $rawDate -}}
    {{- if (ne $lastDate $eventDate) -}}
    {{- if (ne $lastDate "") -}}
    </div>
    </div>
    </div>
    </div>
    {{- end -}}
    {{ $lastDate = $eventDate }}
    <div class="event-month my-3">
        <h2>{{ $eventDate }}</h2>
        <div class="event-list my-3">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                    {{ end }}

                    <div class="col d-flex align-items-stretch">
                        <div class="card border-color-orange">
                            <img src="{{- if strings.Contains $event.name "Social" }}{{ $socialImg.RelPermalink }} {{-
                                else if strings.Contains $event.name "Share & Play" }}{{ $demosImg.RelPermalink }} {{ else
                                }}{{ $genericImg.RelPermalink }}{{ end }}" class="card-img-top" alt="Event Image">
                            <div class="card-body d-flex flex-column">
                                <p class="h3 card-text text-center">{{ $event.name }}</p>
                                <p class="h4 card-text text-center">{{ time.Format "Jan 2" $event.when }} {{ time.Format
                                    ":time_short" $event.when }} to {{ if ne (time.Format "Jan 2" $event.when) (time.Format "Jan 2" $event.end) -}}<br />{{ time.Format "Jan 2" $event.end }} {{ end -}}{{ time.Format
                                        ":time_short" $event.end }}</p>

                                {{- $isLink := hasPrefix $event.where "http" -}}
                                {{- $icon := cond $isLink "🔗" "📍" -}}
                                <p class="card-text">
                                    <em class="pe-2">Where {{ $icon }}:</em>
                                    {{- if $isLink -}}
                                        {{- $parsed := urls.Parse $event.where -}}
                                        <a href="{{ $event.where }}" target="_blank" rel="noopener">{{ $parsed.Host }}</a>
                                    {{- else -}}
                                        {{ $event.where }}
                                    {{- end }}
                                </p>

                                {{- $description := $event.desc | safeHTML -}}

                                {{/* Match and extract the event ID from the RSVP section */}}
                                {{- $regex := `(?s)(<br\s*/?>)*\s*For full details, including the address, and to RSVP see:(?:.*)(?:<a[^>]*href=")?https://www\.meetup\.com/st-louis-game-developers/events/([0-9]+)/?(?:".*?>.*?</a>)?` -}}

                                {{- $matches := findRESubmatch $regex $description -}}

                                {{- if gt (len $matches) 0 -}}
                                    {{- $firstMatch := index $matches 0 -}}          {{/* the inner []string */}}
                                    {{- $fullMatch := index $firstMatch 0 -}}        {{/* full matched string */}}
                                    {{- $eventID := index $firstMatch 2 -}}          {{/* captured group with event ID */}}

                                    {{- $cleanDescription := replace $description $fullMatch "" -}}

                                    <p class="card-text">{{ $cleanDescription | safeHTML }}</dd>
                                    <div class="mt-3 text-center">
                                        <a href="https://www.meetup.com/st-louis-game-developers/events/{{ $eventID }}" class="btn btn-primary" target="_blank" rel="noopener">Details & RSVP</a>
                                    </div>
                                {{- else -}}
                                    <p class="card-text">{{ $description }}</dd>
                                {{- end }}
                                
                                
                                
                            </div>
                        </div>
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    <p class="text-center">No upcoming events</p>
    {{ end }}
</section>

{{- end }}